<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" action="{% url 'admin_load_map_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">קובץ אקסל</label>
            <input type="file" class="form-control" id="file" name="file">
            <button type="submit">העלה</button>
        </div>
    </form>
</body>
</html>